/* =========================
   KPI ROW
   ========================= */

   .kpis {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
}

/* =========================
   KPI CONTAINER
   ========================= */

.kpi-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6px 8px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    border: none; 
}

.kpi-container:hover {
    background-color: #eef6ff;
}

.kpi-container.active {
    background-color: #e0edff;
}

/* =========================
   KPI HEADER
   ========================= */

.kpi-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}
