.kpi-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px 5px;
    align-items: center;
    border: #bad4df 1px solid;
    border-radius: 5px;
    box-shadow: #6099ef 2px 2px 3px;
}
.kpis-box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 10px;
    height: fit-content;
    /*width: fit-content;*/
    flex: 0 0 22%;
}
.kpi-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}