/* parent container: vertical layout, full height */
.product-table-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* top controls area */
.product-table-controls {
    flex: 0 0 auto;  /* do not stretch */
    padding: 8px;
    background-color: #f9f9f9;
}

/* bottom table area */
.product-table-body {
    flex: 1 1 auto; /* fill remaining space */
    overflow: auto; /* scroll if table is taller */
    /*border: 1px solid #ddd;*/
    /*border-radius: 4px;*/
    padding: 8px;
    background-color: #f9f9f9;
    /*background-color: #fff;*/
}
